<div class="widget-recent widget">
  <h4 class="widget__title">Calendar</h4>
  <div class="widget__content">
<!--    <script type='text/javascript' charset='utf-8'
      src='https://scripts.hashemian.com/jss/feed.js?print=yes&numlinks=10&summarylen=50&seedate=yes&popwin=no&url=https:%2F%2Fwww.trumba.com%2Fcalendars%2Fsau39-master.rss%3Fmixin%3D823099%2c771757'></script>
  -->
  <script>
    const url = 'https://www.trumba.com/calendars/sau39-master.json?mixin=823099%2c771757';
    fetch(url).then((res) => {
      console.dir(res);
      /* Parse the RSS Feed and display the content */
      try {
        let doc = res.json();
        let heading = document.createElement('h1')
        heading.textContent = url.hostname
        frag.appendChild(heading)
        doc.querySelectorAll('item').forEach((item) => {
          let temp = document.importNode(document.querySelector('template').content, true);
          let i = item.querySelector.bind(item)
          let t = temp.querySelector.bind(temp)
          t('h2').textContent = !!i('title') ? i('title').textContent : '-'
          t('a').textContent = t('a').href = !!i('link') ? i('link').textContent : '#'
          t('p').innerHTML = !!i('description') ? i('description').textContent : '-'
          t('h3').textContent = url.hostname
          frag.appendChild(temp)
        })
      } catch (e) {
        console.error('Error in parsing the feed')
      }
      if (hasBegun) {
        document.querySelector('output').textContent = '';
        hasBegun = false;
      }
      document.querySelector('output').appendChild(frag)
    })
  </script>
  </div>
</div>
